.banner {
	background: #f9f9f9;
	background-image: url(../img/top-photo.png);
	background-size: 90%;
	background-position: 50%;
	background-repeat: no-repeat;
	padding-top: 26%;
	padding-bottom: 50%;
}

.banner__paragraph {
	font-size: 53px;
	font-weight: 600;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

