.container {
	max-width: 1050px;
	margin: 0 auto;
	box-sizing: border-box;
    width: 100%;
}

@media (max-width: 1049px) {
	.container {
	  width: 100%;
		max-width: 668px;
	  margin: 0 auto;
	  box-sizing: border-box; 
	}
}

@media (max-width: 768px) {
  .container {
  	width: 100%;
		max-width: 260px;
	  box-sizing: border-box; 
  }
}