.featured {
	display: flex;
	padding-top: 54px;
	min-height: 636px;
	padding-bottom: 92px;
	background: url(../img/bg-zigzag-line.svg);
  background-position: 55% 100%;
  background-repeat: repeat-x;
  box-sizing: border-box;
}
.featured > .container {
	display: flex;
	position: relative;
}

.featured__item {
	flex-shrink: 0;
	flex-grow: 0;
	&--first {
	 flex-basis: 175px;
	 width: 16.6%;
   display: flex;
   justify-content: center;
	}
	&--second {
		max-width: 350px;
		width: 83.6%;
		padding-top: 140px;
		position: relative;
		padding-left: 0;
		padding-right: 55px;
		box-sizing: border-box;
	}
	&--img {
		flex-basis: 525px;
		max-width: 50%;
		box-sizing: border-box;
	}
}

.featured__week {
    color: $lightgreen;
    font-size: 17px;
    font-weight: 600;
    padding-top: 50px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
}

.featured__item--cost {
	 text-align: center;
	 padding-top: 70px;
}

.featured__price {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 16px;
  padding-top: 2px;
}

.featured__title {
	font-size: 53px;
	font-weight: 600;
	position: absolute;
	max-width: 500px;
	top: 54px;
	left: 0;
	margin: 0;

}

.featured__text {
	font-size: 17px;
	max-width: 285px;
	font-weight: 400;
	color: $colortext;
	line-height: 1.9em;
}
.featured__list {
  font-size: 17px;
	font-weight: 400;
	color: $colortext;
	padding-top: 23px;
}

.featured__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid $bordercolor;
	text-align: left;
}

.featured__label,
.featured__info {
	width: 50%;
	display: flex;
	font-size: 15px;
}

.featured__info  {
	width: 66%;
	text-align: right;
}
.featured__label {
	width: 34%;
}
.featured__row {
    line-height: 0.75em;
}

@media (max-width: 1049px) {
	.featured {
		padding-bottom: 55px;
		padding-top: 0;
		background-position: 150% 95%;
    background-size: auto 14px;
	}
	
	.featured__item {
		position: relative;
	&--first {
    order: 2;
    flex-basis: 210px;
    width: 25%;
  }
  &--second {
  	max-width: 501px;
    width: 77%;
    order: 1;
    padding-top: 110px;
   }
  }
  .featured__item--img {
    max-width: 334px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 137px;
  }
  .featured__list {
  	max-width: 292px;
  	padding-top: 14px;
  }
  .featured__title {
  	font-size: 43px;
  	top: 31px;
  }
  .featured__item--cost {
    padding-right: 149px;
    padding-top: 12px;
  }
  .featured__week {
  	width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 23px;

  }

}

@media (max-width: 768px) {
   .featured {
   	padding-bottom: 50px;
   	padding-top: 27px;
   	padding-left: 17px;
   	background-size: 40% 3%;
   	background-position: bottom;
   }

	.featured__title {
		font-size: 25px;
		position: relative;
		top: auto;
		left: auto;
		padding-bottom: 40px;
	}
	.featured__item {
		    width: 100%;
		    order: -3;
		&--img,
		&--second {
			max-width: 260px;
		}

		&--cost {
			padding: 0;
			font-size: 17px;
			padding-top: 288px;
		}
		&--first {
			position: relative;
		}
		&--second {
      padding: 0;
      position: relative;
		}
		&--img {
			position: absolute;
    	right: auto;
   		top: 41%;
			flex-basis: 260px;
			display: flex;
    	justify-content: center;
    	align-items: center;
     	order: -2;
		}
	}
	.featured > .container {
		display: flex;
		flex-wrap: wrap;
	}
	.featured__week {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   padding-top: 0;
   text-align: left;
   position: absolute;
   left: auto;
   top: auto;
   padding-top: 18px;
	}
	.featured__text {
		font-size: 15px;
		max-width: 260px;
		width: 100%;
		margin-top: 0;
		padding-top: 7px;
		line-height: 1.7em;
	}
	.featured__info {
		width: 62%;
	}
	.featured__label {
    width: 34%;
  }
  .featured__price {
  	font-size: 17px;
  	padding-bottom: 11px;
    padding-top: 46px;
  }
  .featured__list {
  	padding-top: 0;
  }
  .featured__row {
  	line-height: 0.55em;
  }
}