.menu__item {
	text-align: center;
	width: 17%;
	color: #000000;
	font-size: 17px;
	font-weight: 600;
}

.menu__item--basket {
	width: 3%;
}

.menu__item--search {
	width: 10%;
}

.menu__item--emty-basket {
	width: 25%;
}

.menu__item--top-logo {
	width: 18%;
}