.reviews {
	position: relative;
	background-image: url(../img/bg-zigzag-line.svg);
	background-repeat: repeat-x;
	background-position: bottom;
}

.reviews > .container {
	display: flex;
	flex-wrap: wrap;
}

.reviews::before {
	position: absolute;
	display: block;
	content: "";
	background-image: url(../img/review@1x.jpg);
	background-repeat: no-repeat;
  width: 350px;
  height: 457px;
	top: 0;
	left: 144px;
  z-index: 0;
}
.reviews__item {
	z-index: 10000;
}

.reviews__item--top-left {
	width: 72%;
}

.reviews__text {
    text-align: left;
    color: #444444;
    font-size: 17px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.5em;
    padding-top: 68px;
    max-width: 733px;
}
.reviews__title {
	font-size: 53px;
	font-weight: 600;
	margin: 0;
	padding-top: 80px;
	padding-left: 175px;
}

.reviews__signature {
	font-size: 17px;
	font-weight: 600;
	justify-content: center;
	align-items: center;
}

.reviews__email {
	color: #444444;
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 168px;
  justify-content: center;
	align-items: center;
}

.arrow--left,
.arrow--right {
	border: none;
	background: none;
}
.arrow--right {
	padding-left: 30px;
}

.reviews__item--text-block {
	padding-bottom: 50px;
	margin-left: 175px;
}

.reviews__item--bottom-block {
	display: flex;
	padding-left: 175px;
    justify-content: center;
    align-items: center;
}
.arrow__wrap {
	display: flex;
	position: absolute;
	bottom: 200px;
	right: 150px;
}
.reviews__item--top-right {
	display: block;
	position: absolute;
	top: 80px;
	right: 150px;
}
@media (max-width: 1049px) {
	.reviews__title,
	.reviews__item--bottom-block  {
		padding-left: 0;
	}
	.reviews__title {
		font-size: 43px;
	}

  .reviews__item--text-block {
  	margin-left: 0;
  	flex-basis: 642px;
  }
  .reviews::before {
  	left: 119px;
  }
  .reviews__item--top-right,
  .arrow__wrap {
  	right: 175px;
  }
}

@media (max-width: 768px) {
	.reviews::before {
		background-image: none;
	}
	.reviews__item--top-right {
		top: auto;
	}
	.reviews > .container {
		padding-bottom: 30px;
	}
	.reviews__title {
		font-size: 25px;
		padding-top: 0;
	}
	.reviews__text {
		font-size: 15px;
		padding-top: 36px;
		width: 80%;
		max-width: 260px;
		margin: 0;
	}
	.reviews__item--bottom-block {
		display: block;
	}
  .arrow__wrap,
  .reviews__item--top-right {
  	position: relative;
  	bottom: auto;
  	right: auto;
  }
  .reviews__email,
  .reviews__item--top-right {
  	padding-bottom: 44px;
  }
  .arrow__wrap {
  	display: flex;
 		justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 42px;
  }
  .arrow {
  	width: 50%;
  	border: 1px solid $bordercolor;
  	padding: 12px 0;
  }
  .reviews__signature,
  .reviews__email {
  	font-size: 18px;
  }
}
 
