.secondary-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: url(../img/wave-pattern.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	z-index: 3000;
  padding-bottom: 3%;
  background-color: #63d1bb;
}

.secondary-menu__item {
	width: 50%;
	z-index: 0;
	
}

.secondary-menu__item--light {
	background-color: #63d1bb;
	background-image: url(../img/torchere.png);
	background-repeat: no-repeat;
	background-position: 90%;
	z-index: 0;
}

.secondary-menu__item--dark {
	background-color: #56c3b2;
	background-image: url(../img/toys.png);
	background-repeat: no-repeat;
	background-position: 90%;
	z-index: 0;
}
.secondary-menu__paragraph {
	width: 35%;
	text-align: center;
	color: #ffffff;
	line-height: 1.8em;
}