.top {
	background: #f9f9f9;
	content: "";
	background-image: url(../img/top-photo.png);
	background-repeat: no-repeat;
	background-size: contain;
  min-height: 574px;
  background-position: 50%;
}

.top__part {
	padding-top: 28px;
	border-top: 1px solid #e7e7e7;
}

.top__link {
	width: 24%;
	display: inline-block;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.top__link--free {
  width: 55%;
  text-align: right;
  font-weight: 300;
}

h1.top__paragraph {
	text-align: center;
}

.top__link--sale {
	text-align: left;
	width: 15%

}