$lightgreen: #63d1bb;
$green: #62d1ba;
$darkgreen:#56c3b2;
$lightgrey: #e7e7e7;
$graycolor: #f9f9f9;
$colortext: #444444;
$white: #ffffff;
$bordercolor: #ececec;
$background: #f1f1f1;
$black: #000000;
$activcolor: #717171;
$hovertitle: #666666;
$activtitle: #b2b2b2;
$hoverbutton: #c7c7c7;
$colorlink: #a9e2d9;
$linkactiv: #e5f6f4;
$hovermenuleft: #59d5bc;
$hovermenuright: #46c1ae;
$colormenu: #8be2d0;
$colorline: #e5e5e5;
$colorshadow: #e8e8e8;
